<html layout:decorator="_base">

<th:block layout:fragment="title">Login</th:block>

<th:block layout:fragment="content">
    <p th:if="${param.logout}" class="alert">You have been logged out.</p>
    <p th:if="${param.error}" class="alert alert-error">There was an error, please try again.</p>
    <form name="form" th:action="@{/secure/login}" method="POST">
        <fieldset>
            <input type="text" name="username" value="" placeholder="Email" />
            <input type="password" name="password" placeholder="Password" />
            
            <input type="submit" id="login" value="Login" class="btn btn-primary" /> 
        </fieldset>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    </form>
</th:block>

</html>

